<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        @Html.ActionLink("Pesquisa Whois", "Index", "PesquisaWhois", new { area = "" }, new { @class = "navbar-brand" })
        <form class="form-inline" method="get" action="/PesquisaWhois/Index">
            <div class="input-group">
                <input class="form-control" type="search" placeholder="Domínio" name="dominio" aria-label="Search" required>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                </div>
            </div>
        </form>
    </nav>

    <div class="container body-content" style="max-width:90%">
        @RenderBody()
        <hr />
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>